CREATE OR REPLACE FUNCTION {{ schema }}.{{ table_name }}_REJECT_UPDATE()
RETURNS TRIGGER AS $$
BEGIN
    RAISE EXCEPTION 'UPDATE on %.% is not supported by this transducer; use DELETE + INSERT', TG_TABLE_SCHEMA, TG_TABLE_NAME;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER {{ table_name }}_REJECT_UPDATE
BEFORE UPDATE ON {{ schema }}._{{ table_name }}
FOR EACH ROW EXECUTE FUNCTION {{ schema }}.{{ table_name }}_REJECT_UPDATE();
